  <%= render "shared/banner" %>
<br>
<div class="button-container">
  <div>
    <a class="btn btn-primary btn-lg" href="/users/sign_in" role="button">Login</a>
  </div>
  <br>
  <div>
    <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Signup</a>
  </div>

</div>

