<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("Banner.png", class: "d-block w-100", alt: "banner") %>
    </div>
  </div>
</div>
