<div id="<%= dom_id vendor %>">

 <p>
    <strong>ID:</strong>
    <%= vendor.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= vendor.name %>
  </p>

  <p>
    <strong>Contact info:</strong>
    <%= vendor.contact_info %>
  </p>

</div>
