<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("Vendor Banner.png", class: "d-block w-100", alt: "banner", height: "450") %>
    </div>
  </div>
</div>

<div class="text-center", style= "margin-top:20px;">
  <a href="/vendors/new" style="font-size: 40px;"> <i class="bi bi-plus-circle-fill" style="color: #005493;"></i> </a>

  <div class="container mt-2">

    <table class="table table-striped table-hover">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Details</th>
      </tr>
      <% @vendors.each do |vendor| %>
        <tr>
          <td><%= vendor.id %></td>
          <td><%=vendor.name %></td>
          <td><%= link_to "Show this vendor", vendor, class: "btn blue-button" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
