<nav aria-label="breadcrumb" class="ms-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item">   <%= link_to "Vendors", vendors_path %></li>
    <li class="breadcrumb-item active" aria-current="page">New Vendor</li>
  </ol>
</nav>

<div class="container text-center">
  <h1 class="fw-bold" style="color: #DA8B34;">New Vendor</h1>
</div>
<%= render "form", vendor: @vendor %>
