
<div class="container">

  <div class="left-wrapper">
    <h2 class="heading"> In Stock</h2>
    <div class="left-content">
      <!-- Left content goes here -->
      
    <table>
        <thead>
          <tr>
            <th>Products</th>
            <th>Quantity</th>
            <th>Sold?</th>
            <th>Details</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 3</td>
            <td>Data 4</td>
          </tr>
          <!-- Add more <tr> elements for additional rows -->
        </tbody>
    </table>
     
    </div>
  </div>

  <div class="separator"></div>

  <div class="right-wrapper">
    <h2 class="heading">Running Out</h2>
    <div class="right-content">
      <!-- Right content goes here -->
      <table>
        <thead>
          <tr>
            <th>Products</th>
            <th>Quantity</th>
            <th>Details</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 4</td>
          </tr>
          <!-- Add more <tr> elements for additional rows -->
        </tbody>
    </table>


    <div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div>
    </div>
  </div>

</div>
