.container {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  padding-top: 30px;
}

.left-wrapper,
.right-wrapper {
  flex: 1;
}

.left-wrapper,
.right-wrapper,
.left-content,
.right-content {
  display: flex;
  flex-direction: column;
}

.left-content {
  padding-top: 30px;
}

.right-content {
  padding-top: 30px;
  padding-left: 10px;
}

.heading {
  text-align: center;
}

.separator {
  width: 6px;
  background-color: #005493;
}

.button-container {
  text-align: center;
}

.form-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.grey-button {
  background-color: #BFBFBF;
  color: #ffffff;
}

.blue-button {
  background-color: #005493;
  color: #ffffff;
}

.bg-blue {
  background-color: #005493;
  color: #ffffff;
}

a:link {
  color: #DA8B34;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #DA8B34;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #005493;
  background-color: transparent;
  text-decoration: underline;
}

ul.nav a:hover { color: #fff; background-color: #DA8B34}

a.btn.blue-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #005493;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none; 
  transition: background-color 0.3s, color 0.3s;
}

a.btn.blue-button:hover {
  background-color: #DA8B34; /* White background on hover */
  color: #fff; /* Black text on hover */
}

.blue {
  color: #005493;
}

.orange {
  background-color: #DA8B34;
}


.product-details {
  display: flex;
 /* Align items to the top */
}

.image-container {
  flex-shrink: 0; /* Prevent image from shrinking */
  margin-right: 20px; /* Adjust as needed */
}

.product-image {
  display: block; /* Make image block-level */
  margin-bottom: 10px; /* Adjust as needed */
}

.details-container {
  flex-grow: 1; /* Expand to fill remaining space */
}

.center {
  display: grid;
  place-items: center;
}
