<nav aria-label="breadcrumb" class="ms-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/products">Products</a></li>
    <li class="breadcrumb-item"><%= link_to @product.name, product_path%></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Product</li>
  </ol>
</nav>

<div class="container text-center">
  <h1 class="fw-bold" style="color: #DA8B34;">Editing Product</h1>
</div>

<%= render "form", product: @product %>
