<h1>Products</h1>

<%= link_to "New product", new_product_path %>

<div id="products">
  <% @products.each do |product| %>
    
     <table>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Details</th>
      </tr>
      <% @products.each do |product| %>
        <tr>
          <td> <%= product.name %></td>
          <td> <%= product.image %></td>
          
          
          <td> <%= link_to "Show this product", product %> </td>
        </tr>
      <% end %>
      </table>
  <% end %>
</div>
