<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("orange", class: "d-block w-100", alt: "banner", size: "2062x410") %>
    </div>
  </div>
</div>
<div class="text-center", style= "margin-top:20px;">
  <a href="/products/new" style="font-size: 24px;"> <i class="bi bi-plus-circle-fill"></i> </a>
</div>

<div class="container mt-2">
  <div class="row row-cols-3">
    <% @products.each do |product| %>
      <div class="col mb-4">
        <div class="card">
          <% if product.image.attached? %>
            <%= image_tag product.image.first, class: "card-img-top", width: "300px" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <a href="<%= product_path(product) %>" class="btn blue-button">Details</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
