<%= render @product %>

<div class="ms-3">
 <%= link_to "Edit this product", edit_product_path(@product), class: "btn blue-button"%>
 </div> 
 <div class="ms-3 mt-2">
  <%= button_to "Destroy this product", @product, method: :delete, class: "btn blue-button" %>
</div>

